

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="cars" >Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="#">Rental</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              For More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/brands">Brands</a></li>
              <li><a class="dropdown-item" href="/colors">Colors</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">About Us</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin Panel
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="">Add Car</a></li>
              <li><a class="dropdown-item" href="brand/add">Add Brand</a></li>
              <li><a class="dropdown-item" href="color/add">Add Color</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Update Car</a></li>
              <li><a class="dropdown-item" href="brand/update">Update Brand</a></li>
              <li><a class="dropdown-item" href="color/update">Update Color</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
         
          <button  [style.Display]="isAuthenticated()" class="btn btn-outline-danger" type="submit" routerLink="register">Register</button>
          <button  [style.Display]="isAuthenticated()" classs="btn btn-outline-danger" type="submit" routerLink="login">Login</button>
         
          <button  [style.Display]="logout"   class="btn btn-outline-danger" type="submit" routerLink="users/info/{{getEmail()}}">User</button>
          <button  [style.Display]="logout" (click)="logOut()" class="btn btn-outline-danger" type="submit" routerLink="home">LogOut</button>
          
            
          
        </form>
      </div>
    </div>
  </nav>