<div class="container">
    
    <div class="card text-center ">
      <div class="card-header" style="background-color:	#FFE4E1;min-height: 100px;">
        <ul class="nav nav-tabs card-header-tabs bg">
         
        </ul>
      </div>
    <div class="card-body">
          <form [formGroup]="brandUpdateForm">
         
            <h5 class="card-title">Update Brand</h5><br>
          <div class="form-floating">
            
              <input formControlName="brandName"
               type="brandName" 
               class="form-control"
                id="floatingInput"
                 placeholder="Brand Name"
                 style="max-width: 300px;">
              <label for="floatingInput">Brand Name</label>
            </div>
  
            
           
            </form>
            <button  (click)="update()" class="w-100 btn btn-lg btn-danger" style="max-width: 200px;" >Update</button>
        
         
         
  <div>     
<div>   
    </div>
    
