
<div class="container">
    
    <div class="card text-center ">
      <div class="card-header bg-danger">
        <ul class="nav nav-tabs card-header-tabs bg">
         
          
         
        </ul>
      </div>
      <div class="card-body">
          <form [formGroup]="brandAddForm">
        <h5 class="card-title">New Brand</h5><br>
        <tr>
          <div class="form-floating">
              <input formControlName="brandName"
               type="brandName" 
               class="form-control"
                id="floatingInput"
                 placeholder="Brand Name">
              <label for="floatingInput">Brand Name</label>
            </div>
  
            
            <button  (click)="add()" class="w-100 btn btn-lg btn-danger" >Add</button>
            </form>
        
         
         
  <div>     
      <div>   