
<div class="container">
  <div class="card" style="border-radius: 20px;">
      <div class="card-body">
          <div>
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 1000;">
                  <div class="carousel-inner">
                    <div *ngFor="let carImage of carImages; let i = index"  [class]="getSliderClassName(i)">
                      <img src="{{imageUrl}}{{carImage.imagePath}}" class="d-block w-100" alt="..." style="width:1320px !important; height:700px !important;">
                      <div class="carousel-caption d-none d-md-block">
                         
                        </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
  
                <table class="table m-1">
                    <thead>
                        <tr>
                          <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                              Brand
                            </th>
                            <th  scope="col" style="background-color: #212529; color:white;  border-radius: 10px">
                              Color
                            </th>
                            <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                              Model Year
                            </th>
                            <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                              Daily Price
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="carDetail" >
                          <td>{{ carDetail.brandName }}</td>
                          <td>{{ carDetail.colorName }}</td>
                          <td>{{ carDetail.modelYear }}</td>
                          <td>{{ carDetail.dailyPrice  }}</td>
                         
                      
                         
        
                        </tr>
                    </tbody>
                </table>
          </div>
  
      </div>
  
  </div>
  </div>