
<div class="container">
  <div class="card" style="border-radius: 20px;">
      <div class="card-body">
          <div>
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="width: 1000;">
                  <app-car-image></app-car-image>
                </div>
  
                <table class="table m-1">
                    <thead>
                        <tr>
                          <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                              Brand
                            </th>
                            <th  scope="col" style="background-color: #212529; color:white;  border-radius: 10px">
                              Color
                            </th>
                            <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                              Model Year
                            </th>
                            <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                              Daily Price
                            </th>
                            <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                              Description
                            </th>
                            <th scope="col" style="background-color: #212529; color:white; border-radius: 10px">
                              Findex Score
                            </th>
                            
                        </tr><br>
                    </thead>
                    <tbody *ngIf="carDetail">
                      
                          <td>{{ carDetail.brandName }}</td>
                          <td>{{ carDetail.colorName }}</td>
                          <td>{{ carDetail.modelYear }}</td>
                          <td>${{ carDetail.dailyPrice }}</td>
                          <td>{{ carDetail.description }}</td>
                          <td>{{ carDetail.findeksScore}}</td>
                       
                         
                      
                         
        
                        
                    </tbody><br>
                    <button   class="w-100 btn btn-lg btn-danger" style="width:400px;" routerLink="/rental/{{carDetail.carId}}" >Rent Now</button>
                </table>
              </div>
          </div>
  
    
  
  </div> 
  </div>