<div class="container">
    <img src="..\assets\images\userlogo.png" class="rounded mx-auto d-block" alt="..." style="height: 200px;width: 200px;">
  <div class="card text-center ">
    <div class="card-header bg-danger">
      <ul class="nav nav-tabs card-header-tabs bg">
       
        
       
      </ul>
    </div>
    <div class="card-body">
        <form [formGroup]="userUpdateForm">
      <h5 class="card-title">New Values</h5><br>
      <tr>
        <div class="form-floating">
            <input formControlName="firstName"
             type="text"
             class="form-control"
              id="floatingInput"
               placeholder="First Name">
            <label for="floatingInput">First Name</label>
          </div>
          <div class="form-floating">
            <input formControlName="lastName"
             type="text" 
             class="form-control" 
             id="floatingInput1"
              placeholder="Last Name">
            <label for="floatingInput1">Last Name</label>
          </div>
          <div class="form-floating">
            <input formControlName="email"
             type="text" 
             class="form-control" 
             id="floatingInput2"
              placeholder="Email">
            <label for="floatingInput2">Email</label>
          </div> 
          <div class="form-floating">
            <input formControlName="password"
             type="password" 
             class="form-control" 
             id="floatingPassword"
              placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating">
            <input formControlName="findeksScore"
             type="number" 
             class="form-control" 
             id="floatingInput3"
              placeholder="Findeks Score">
            <label for="floatingInput3">Findeks Score</label>
          </div>

          
          <button  (click)="updateUser()" class="w-100 btn btn-lg btn-danger" >Update</button>
          </form>
      
       
       
<div>     
    <div>   