<div class="container" style="min-width: 2000px">
  <div class="card text-center">
    <div class="card-header" style="background-color: #ffe4e1">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="true"
            routerLink="/cars/update/{{ car.carId }}"
            >Update Car</a
          >
        </li>
        &nbsp;
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="true"
            routerLink="/cars/update/addimages/{{ car.carId }}"
            >Add Car Images</a
          >
        </li>
        &nbsp;
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="true"
            href="/cars/update/previewimage/{{ car.carId }}"
            >Add Preview Image</a
          >
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row md-6">
          <div
            *ngIf="car"
            class="card text-dark bg-light mb-3"
            style="width: 18rem"
          >
            <img
              src="{{ imageUrl }}{{ car.initialImage }}"
              class="card-img-top"
              alt="..."
              height="250"
            />
            <div class="card-body">
              <h5 class="card-title">{{ car.description }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
