<div class="container" style="min-width: 2600px;">
  
  <div class="row">
    <div class="col-3">
        <div>
           <app-brand-filter></app-brand-filter>
           <app-color-filter></app-color-filter>
        </div>
    </div>    
 
    <div class="col-9">
      <div class="row " style="padding-right: 100px;">
        
           <div *ngFor="let car of cars" class="card text-dark bg-light mb-3" style="width: 25rem;">
               <img src="{{imageUrl}}{{car.initialImage}}" class="card-img-top" alt="..."height="350" >
                <div class="card-body">
                <h5 class="card-title">{{car.description}}</h5>
     
                <a  class="btn btn-outline-danger" routerLink="/cars/info/{{car.carId}}" >Show More</a>
                </div>  
            </div>
          </div>
      </div>
  </div>
</div>





