<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..\assets\images\07a59118-9c2e-4a6a-bfc7-2a64d163be29.jpg" class="d-block w-100" alt="..." style="width:2400px important; height:1000px !important;"> 
      </div>
      <div class="carousel-item ">
        <img src="..\assets\images\ddab891b-25f7-473d-bef8-b73df3b5a3cb.jpg" class="d-block w-100" alt="..." style=" width:2400px important; height:1000px !important;">
      </div>
      <div class="carousel-item">
        <img src="..\assets\images\d2b19dd3-ce0b-4c78-a8fb-91c45921c586.jpg" class="d-block w-100" alt="..." style=" width:2400px important; height:1000px !important;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

